<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseurl" value="http://localhost:5000"/>
    <add key="usePhantom" value="false"/>
    <add key="useDocker" value="false"/>
    <add key="baseurlDocker" value="http://votenet"/>
    <add key="webDriverURL" value="http://127.0.0.1:4444"/>
  </appSettings>
  
</configuration>